In [1]:
import pandas as pd

import matplotlib.pyplot as plt

import numpy as np
import seaborn as sns
from pydataset import data

from math import sqrt
from scipy import stats

# 2. Given the following confusion matrix, evaluate (by hand) the model's performance.

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In [2]:
fp = 13

fn = 7

tp = 46

tn = 34

In [3]:
accuracy = (tn + tp) / (tn + tp + fn + fp)

# total of correct predictions divided by amount of total predictions
## percentage of correct predictions

accuracy

0.8

In [4]:
precision = (tp) / (tp + fp)

# total of true positive prections divided by amount of positive predictions
## percenage of how many positive predictions were actually correct

## to be used when the cost of acting on positive predictions is high
## false positives MUST be avoided
### example: spam folder

precision

0.7796610169491526

In [5]:
recall = (tp) / (tp + fn)

# total of true positive predictions divided by amount of actually positive occurances
## percentage of times model correctly predicted positively among all positives 

## to be used when avoiding a negative occurance is costly
## false negatives MUST be avoided
## example: fruad prevention

recall

0.8679245283018868

## In the context of this problem, what is a false positive?

In [6]:
## false positive: model predicted preferred dog, but actually preferred cat

fp = 13

## In the context of this problem, what is a false negative?

In [7]:
## false negative: model predicted preferred cat, but actually prefer dog

fn = 7

## How would you describe this model?

# 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

In [8]:
c3 = pd.read_csv('c3.csv')

c3.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [9]:
model1 = pd.crosstab(c3.actual, c3.model1)

model1

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [10]:
tp1 = 8

fp1 = 2

tn1 = 182

fn1 = 8

In [11]:
model2 = pd.crosstab(c3.actual, c3.model2)

model2

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [12]:
tp2 = 9

fp2 = 81

tn2 = 103

fn2 = 7

In [13]:
model3 = pd.crosstab(c3.actual, c3.model3)

model3

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [14]:
tp3 = 13

fp3 = 86

tn3 = 98

fn3 = 3

## An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [15]:
c3.actual.value_counts(), c3.model1.value_counts(), c3.model2.value_counts(), c3.model3.value_counts()

(No Defect    184
 Defect        16
 Name: actual, dtype: int64,
 No Defect    190
 Defect        10
 Name: model1, dtype: int64,
 No Defect    110
 Defect        90
 Name: model2, dtype: int64,
 No Defect    101
 Defect        99
 Name: model3, dtype: int64)

In [16]:
## you would use precision because you want the lowest number of false negatives as possible

precision1 = (tp1) / (tp1 + fp1)

precision2 = (tp2) / (tp2 + fp2)

precision3 = (tp3) / (tp3 + fp)

precision1, precision2, precision3

## model 1 has highest precision

(0.8, 0.1, 0.5)

In [17]:
c3['baseline_prediction'] = 'Defect'

c3.head()

      actual     model1  model2     model3 baseline_prediction
0  No Defect  No Defect  Defect  No Defect              Defect
1  No Defect  No Defect  Defect     Defect              Defect
2  No Defect  No Defect  Defect  No Defect              Defect
3  No Defect     Defect  Defect     Defect              Defect
4  No Defect  No Defect  Defect  No Defect              Defect

In [18]:
subset = c3[c3.actual == 'Defect']

subset.head()

    actual     model1     model2  model3 baseline_prediction
13  Defect  No Defect     Defect  Defect              Defect
30  Defect     Defect  No Defect  Defect              Defect
65  Defect     Defect     Defect  Defect              Defect
70  Defect     Defect     Defect  Defect              Defect
74  Defect  No Defect  No Defect  Defect              Defect

In [19]:
model_accuracy = (c3.model1 == c3.actual).mean()
baseline_accuracy = (c3.baseline_prediction == c3.actual).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 95.00%
baseline accuracy: 8.00%

In [20]:
model_recall = (subset.model1 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model recall: {model_recall:.2%}')# .2% is simply rounding the decimal on the percentage 2 decimal places.
print(f'baseline recall: {baseline_recall:.2%}')

   model recall: 50.00%
baseline recall: 100.00%

In [21]:
subset = c3[c3.model1 == 'Defect']
model_precision = (subset.model1 == subset.actual).mean()

subset = c3[c3.baseline_prediction == 'Defect']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 80.00%
baseline precision: 8.00%

## Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [22]:
## we would use recall because we want the lowest amount of false negatives possible

recall1 = (tp1) / (tp1 + fn1)

recall2 = (tp2) / (tp2 + fn2)

recall3 = (tp3) / (tp3 + fn3)

recall1, recall2, recall3

## model 3 has the highest amount of defects

(0.5, 0.5625, 0.8125)

# 4. You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

## At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

In [23]:
gyp = pd.read_csv('gives_you_paws.csv')

gyp.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [24]:
gyp.actual.value_counts(), gyp.model1.value_counts(), gyp.model2.value_counts(), gyp.model3.value_counts(), gyp.model4.value_counts()

(dog    3254
 cat    1746
 Name: actual, dtype: int64,
 dog    2937
 cat    2063
 Name: model1, dtype: int64,
 cat    3212
 dog    1788
 Name: model2, dtype: int64,
 dog    2508
 cat    2492
 Name: model3, dtype: int64,
 dog    4253
 cat     747
 Name: model4, dtype: int64)

In [25]:
gyp['baseline_prediction'] = 'dog'
# we will define dog as positive
# we will define cat as negative

gyp.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [26]:
pd.crosstab(gyp.actual, gyp.model1)

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [27]:
tp1 = 2614

fp1 = 323

tn1 =1423

fn1 = 640

In [28]:
pd.crosstab(gyp.actual, gyp.model2)

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [29]:
tp2 = 1597

fp2 = 191

tn2 = 1555

fn2 = 1657

In [30]:
pd.crosstab(gyp.actual, gyp.model3)

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [31]:
tp3 = 1655

fp3 = 853

tn3 = 893

fn3 = 1599

In [32]:
pd.crosstab(gyp.actual, gyp.model4)

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [33]:
tp4 = 3110

fp4 = 1143

tn4 = 603

fn4 = 144

### A. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [34]:
accuracy1 = (tn1 + tp1) / (tn1 + tp1 + fn1 + fp1)

accuracy2 = (tn2 + tp2) / (tn2 + tp2 + fn2 + fp2)

accuracy3 = (tn3 + tp3) / (tn3 + tp3 + fn3 + fp3)

accuracy4 = (tn4 + tp4) / (tn4 + tp4 + fn4 + fp4)

accuracy1, accuracy2, accuracy3, accuracy4

## model 1 has the highest overall accuracy

(0.8074, 0.6304, 0.5096, 0.7426)

In [35]:
(gyp.actual == gyp.baseline_prediction).mean()

0.6508

In [36]:
model_accuracy = (gyp.actual == gyp.model1).mean()
baseline_accuracy = (gyp.actual == gyp.baseline_prediction).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 80.74%
baseline accuracy: 65.08%

In [37]:
model_accuracy = (gyp.actual == gyp.model2).mean()
baseline_accuracy = (gyp.actual == gyp.baseline_prediction).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 63.04%
baseline accuracy: 65.08%

In [38]:
model_accuracy = (gyp.actual == gyp.model3).mean()
baseline_accuracy = (gyp.actual == gyp.baseline_prediction).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 50.96%
baseline accuracy: 65.08%

In [39]:
model_accuracy = (gyp.actual == gyp.model4).mean()
baseline_accuracy = (gyp.actual == gyp.baseline_prediction).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 74.26%
baseline accuracy: 65.08%

### B. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

In [40]:
## for phase 1 I would use recall to get the highest amount of correct predictions

recall1 = (tp1) / (tp1 + fn1)

recall2 = (tp2) / (tp2 + fn2)

recall3 = (tp3) / (tp3 + fn3)

recall4 = (tp4) / (tp4 + fn4)

recall1, recall2, recall3, recall4

## model 4 has the highest recall rate while looking for dogs

(0.803318992009834,
 0.49078057775046097,
 0.5086047940995697,
 0.9557467732022127)

In [41]:
subset = gyp[gyp.actual == 'dog']

subset.head()

  actual model1 model2 model3 model4 baseline_prediction
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
5    dog    dog    dog    dog    dog                 dog
8    dog    dog    cat    dog    dog                 dog

In [42]:
model_recall = (subset.model1 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model recall: 80.33%
baseline recall: 100.00%

In [43]:
model_recall = (subset.model2 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model recall: 49.08%
baseline recall: 100.00%

In [44]:
model_recall = (subset.model3 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model recall: 50.86%
baseline recall: 100.00%

In [45]:
model_recall = (subset.model4 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model recall: 95.57%
baseline recall: 100.00%

In [46]:
## for phase 2 I would then use precision to ensure the highest amount of correct positive predictions

precision1 = (tp1) / (tp1 + fp1)

precision2 = (tp2) / (tp2 + fp2)

precision3 = (tp3) / (tp3 + fp3)

precision4 = (tp4) / (tp4 + fp4)

precision1, precision2, precision3, precision4

## model 1 has the highest precision rate for predicting dogs

(0.8900238338440586,
 0.8931767337807607,
 0.6598883572567783,
 0.7312485304490948)

In [47]:
subset = gyp[gyp.model1 == 'dog']
model_precision = (subset.model1 == subset.actual).mean()

subset = gyp[gyp.baseline_prediction == 'dog']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 89.00%
baseline precision: 65.08%

In [48]:
subset = gyp[gyp.model1 == 'dog']
model_precision = (subset.model2 == subset.actual).mean()

subset = gyp[gyp.baseline_prediction == 'dog']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 53.22%
baseline precision: 65.08%

In [49]:
subset = gyp[gyp.model1 == 'dog']
model_precision = (subset.model3 == subset.actual).mean()

subset = gyp[gyp.baseline_prediction == 'dog']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 50.53%
baseline precision: 65.08%

In [50]:
subset = gyp[gyp.model4 == 'dog']
model_precision = (subset.model1 == subset.actual).mean()

subset = gyp[gyp.baseline_prediction == 'dog']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 80.32%
baseline precision: 65.08%

### C. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [51]:
gyp.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [61]:
gyp = gyp.drop(columns=['baseline_prediction'])

gyp.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [62]:
gyp['baseline_prediction'] = 'cat'
# for this part of the exercise we will now define cat as positive and dog as negative

gyp.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 cat
1    dog    dog    cat    cat    dog                 cat
2    dog    cat    cat    cat    dog                 cat
3    dog    dog    dog    cat    dog                 cat
4    cat    cat    cat    dog    dog                 cat

In [63]:
pd.crosstab(gyp.actual, gyp.model1)

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [67]:
tp1 = 1423

fp1 = 640

tn1 = 2614

fn1 = 323

In [64]:
pd.crosstab(gyp.actual, gyp.model2)

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [68]:
tp2 = 1555

fp2 = 1657

tn2 = 1597

fp2 = 191

In [65]:
pd.crosstab(gyp.actual, gyp.model3)

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [69]:
tp3 = 893

fp3 = 1599

tn3 = 1655

fp3 = 853

In [66]:
pd.crosstab(gyp.actual, gyp.model4)

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [70]:
tp4 = 603

fp4 = 144

tn4 = 3110

fp4 = 1143

In [71]:
## for phase 1 I would use recall to get the highest amount of correct predictions

recall1 = (tp1) / (tp1 + fn1)

recall2 = (tp2) / (tp2 + fn2)

recall3 = (tp3) / (tp3 + fn3)

recall4 = (tp4) / (tp4 + fn4)

recall1, recall2, recall3, recall4

## model 1 has the highest recall rate while looking for cats

(0.8150057273768614, 0.4841220423412204, 0.358346709470305, 0.8072289156626506)

In [73]:
model_recall = (subset.model1 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model recall: 80.74%
baseline recall: 34.92%

In [74]:
model_recall = (subset.model2 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model recall: 63.04%
baseline recall: 34.92%

In [75]:
model_recall = (subset.model3 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model recall: 50.96%
baseline recall: 34.92%

In [76]:
model_recall = (subset.model4 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model recall: 74.26%
baseline recall: 34.92%

In [77]:
## for phase 2 I would then use precision to ensure the highest amount of correct positive predictions

precision1 = (tp1) / (tp1 + fp1)

precision2 = (tp2) / (tp2 + fp2)

precision3 = (tp3) / (tp3 + fp3)

precision4 = (tp4) / (tp4 + fp4)

precision1, precision2, precision3, precision4

## model 2 has the highest precision rate for predicting cats

(0.6897721764420747,
 0.8906071019473081,
 0.5114547537227949,
 0.34536082474226804)